.sub-board.active {
    border: 5px solid yellow; /* this will highlight the active board with a red border */
}

.sub-board.win-x, .cell.won.win-x {
    background-color: red;
}

.sub-board.win-o, .cell.won.win-o {
    background-color: blue;
}

.locked {
    pointer-events: none;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #333, #111);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

#logo-container {
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

#logo {
    max-width: 500px;  /* Adjust based on your logo size */
}

.board {
    display: grid;
    margin-top: 40px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  /* This is a more modern font */
}

.cell {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    font-size: 36px;
}
.sub-board {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.cell.x {
    color: darkred;
}

.cell.o {
    color: darkblue;
}

.sub-board.won .cell {
    color: black;
}

#game-message {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
}

.cell:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.cell:not(.won):hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@keyframes burning {
    0% { background-color: transparent; }
    50% { background-color: rgba(255, 100, 100, 0.9); }
    100% { background-color: transparent; }
}

@keyframes burning-blue {
    0% { background-color: transparent; }
    50% { background-color: rgba(100, 100, 255, 0.9); }
    100% { background-color: transparent; }
}

.sub-board.won.x {
    animation: burning 1.5s infinite;
}

.sub-board.won.o {
    animation: burning-blue 1.5s infinite;
}
