.sub-board.active {
    border: 5px solid yellow; /* this will highlight the active board with a red border */
}

.sub-board.win-x, .cell.won.win-x {
    background-color: red;
}

.sub-board.win-o, .cell.won.win-o {
    background-color: blue;
}

.locked {
    pointer-events: none;
}